    <div class="relative w-screen overflow-hidden">
        <img src="assets/235.jpg" class="h-[50vh] w-screen object-cover absolute -z-10">
        <div class="absolute top-0 left-0 w-full h-[50vh] flex flex-col justify-end items-center text-white pb-4">
            <p class="text-4xl font-bold mb-4 drop-shadow-[2px_2px_2px_black]">The best quality of furniture</p>
            <button class="cursor-pointer bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded drop-shadow-[2px_2px_2px_black]" [routerLink]="'login'">
                SHOP NOW
            </button>
        </div>
        <div class="h-[50vh] w-screen bg-transparent ">    <!--this is just a place holder-->
        
        </div>

        <!-- second half -->
         <app-sliding-promotions></app-sliding-promotions>

         </div>

